@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* .cont {
  max-width: 100%;
}

.cont h1 {
  margin-top: 0;
  margin-bottom: 0.8888889em;
}

.cont h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.cont p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.cont ul {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
} */
